<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_7.1.xsd">

    <menuitem name="company-list" order="-100" title="Company Info" icon="fa-book" icon-background="green"/>

    <menuitem name="company.list" parent="company-list"
              title="Company"
              action="company22"/>

    <action-view name="company22" model="com.axelor.company.db.Companies" title="Company">
        <view type="grid" name="com-grid"/>
        <view type="form" name="com-form"/>
    </action-view>

</object-views>